/**
 * Created by dmytrodemchuk on 27.12.2019.
 */

.trello-home {
    display: flex;
    max-width: 1024px;
    margin: auto;
}

.trello-home .menu {
    width: 150px;
}

.trello-home .menu li {
    border-radius: 4px;
    box-shadow: none;
    display: flex;
    font-weight: 700;
    margin-bottom: 4px;
    min-height: 20px;
    overflow: hidden;
    padding: 6px 8px 6px 10px;
    text-decoration: none;
    cursor: pointer;
}

.trello-home .menu li:hover {
    background-color: rgba(9,30,66,.08);
}

.main-actions {
    flex-grow: 1;
    padding-left: 25px;
}

.boards-type {
    font-weight: 700;
    padding: 6px 8px 6px 10px;
    min-height: 20px;
    font-size: 18px;
}

.boards-pallet {
    display: flex;
    flex-wrap: wrap;
}

.boards-pallet > div {
    width: 23.5%;
    margin: 0 1.5% 8px 0;
    min-height: 70px;
    border-radius: 3px;
    background-color: rgba(9,30,66,.08);
    padding: 10px;
    cursor: pointer;
    background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/539x960/e721e4d434329dfa021954439b939617/photo-1561407705-4a0acbee7735.jpg");
}

.board-title {
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    overflow: hidden;
    max-height: 40px;
    width: 100%;
    word-wrap: break-word;
    color: #FFFFFF;
}